/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* main fonts var */
/***************************** general style **************************** */
*:focus, *:active {
  outline: none !important; }

html {
  overflow: hidden;
  font-size: 12px; }

body {
  font-family: "SourceSansProSemiBold", sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #2d2d2d;
  line-height: 1;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #FFFFFF;
  letter-spacing: 0.02em;
  background-image: url("./../images/bg.jpg");
  background-repeat: repeat;
  overflow-y: scroll; }

a {
  text-decoration: none; }

h4 {
  font-size: 30pt; }

h5 {
  font-size: 24pt; }

h6 {
  font-size: 20pt; }

.e-container {
  max-width: 700px;
  margin: 0px auto; }
  @media screen and (max-width: 768px) {
    .e-container {
      width: 700px; } }

/***************************** button style **************************** */
.e-btn {
  font-family: "SourceSansProSemiBold", sans-serif;
  background-color: #3ebffa;
  color: #FFFFFF;
  padding: 11px 5px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: none; }

.e-btn-gr {
  font-size: 12pt;
  background-color: #3ebffa;
  padding: 11px 5px; }

.e-btn-head {
  width: 135px;
  text-align: center;
  font-size: 13pt;
  padding: 10px 0px;
  -webkit-box-shadow: 0px 0px 9px 6px rgba(62, 190, 250, 0.25);
  -moz-box-shadow: 0px 0px 9px 6px rgba(62, 190, 250, 0.25);
  box-shadow: 0px 0px 9px 6px rgba(62, 190, 250, 0.25); }

.e-btn-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }

.fixed {
  position: fixed;
  top: 20px;
  left: 50%;
  width: 100%;
  height: 37px;
  max-width: 700px;
  margin-left: calc(-700px / 2);
  z-index: 9999; }

.e-content {
  margin-top: calc(37px + 23px + 20px); }

@font-face {
  font-family: "SourceSansProSemiBold";
  src: url("../fonts/SourceSansPro-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/***************************** card style **************************** */
.e-card {
  margin: 0 auto;
  height: calc(363px - 18px*2);
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  border-radius: 45px;
  padding: 18px 36px;
  margin-bottom: 30px;
  background-image: url("../upload/sightseeing_tour_of_Odessa_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 7px 7px 21px 0.7px #1b1b1b;
  -moz-box-shadow: 7px 7px 21px 0.7px #1b1b1b;
  box-shadow: 7px 7px 21px 0.7px #1b1b1b; }
  .e-card:last-child {
    margin-bottom: 55px; }
  .e-card__title {
    color: #FFFFFF;
    width: 90%;
    font-size: 41pt;
    font-family: "SourceSansProSemiBold", sans-serif;
    margin-bottom: 16px; }

.e-card__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end; }

.e-card-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.e-card-tur__item {
  color: #FFFFFF;
  font-size: 16pt;
  line-height: 2.5;
  position: relative;
  padding-left: 40px; }
  .e-card-tur__item::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0px;
    width: 34px;
    height: 34px;
    background-color: transparent;
    background-image: url("../images/ic_pedestrian2.png");
    background-repeat: no-repeat;
    background-size: contain; }

.ic-pedestrian::before {
  width: 40px;
  height: 40px;
  background-image: url("../images/ic_pedestrian.png"); }

.ic-time::before {
  top: 16px;
  background-image: url("../images/ic_watch.png"); }

.ic-cost::before {
  top: 13px;
  background-image: url("../images/ic_coin.png"); }

.e-card-btn .e-btn-gr {
  margin-bottom: 10px; }

.e-pay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center; }
  .e-pay__item {
    margin: 0px 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
  .e-pay__link {
    display: inline-block;
    background-image: url("../images/ic_visa.png");
    background-repeat: no-repeat;
    background-size: contain; }

.ic-mc .e-pay__link {
  width: 62px;
  height: 47px;
  background-image: url("../images/ic_mc.png"); }

.ic-lect .e-pay__link {
  width: 50px;
  height: 50px;
  background-image: url("../images/ic_lect.png"); }

.ic-viza .e-pay__link {
  width: 75px;
  height: 24px;
  background-image: url("../images/ic_viza.png"); }

/*# sourceMappingURL=style.css.map */
