/***************************** general style *****************************/
*
	&:focus, &:active
		outline: none !important

html
	overflow: hidden
	font-size: $fontSizeMain

body
	font:
		family: $fontSansProSemiBold
		size: 1em
		weight: 400
	color: $fontColorMain
	line-height: 1
	//min-width: $bodyMinWidth
	margin: 0
	padding: 0
	height: 100vh	
	background-color: #FFFFFF
	letter-spacing: 0.02em

a
	text-decoration: none

h4
	font-size: $fontSize_h4
h5
	font-size: $fontSize_h5
h6
	font-size: $fontSize_h6

.e-container
	width: 700px
	margin: 20px auto

/***************************** button style *****************************/
.e-btn
	font-family: $fontSansProSemiBold
	background-color: $btnGr_bg
	color: #FFFFFF
	padding: 11px 5px //13px 8px
	+border_radius(20px)
	border: none

.e-btn-gr
	font-size: 12pt
	background-color: $btnGr_bg

.e-btn-head
	width: 135px
	text-align: center
	font-size: 13pt
	padding: 10px 0px

.e-btn-wrap
	+flexbox
	+justify-content(space-between)
	margin-bottom: 23px



